p,ul
{
    color:red; /*cette balise sert a mettre en rouge*/
    font-weight:bold;/*cette balise sert a mettre en gras*/
}

.introduction /*le introduction fait référence a l'attribut class avec le nom introduction et on met un point quand c class*/
{
    color:blue; /*cette balise sert a mettre en rouge*/
    
}

#introduction /* meme chose ce que la c'est l'attribut id on met un diez quand c id*/
{
    color:purple; /*cette balise sert a mettre en rouge*/
    
}

#seul/* meme chose ce que la c'est l'attribut id on met un diez quand c id*/
{
    color:green; /*cette balise sert a mettre en rouge*/
    
}
